DATABASE_URL="postgresql://user:password@localhost:5432/smsok?schema=public"
JWT_SECRET=  # openssl rand -hex 32

# EasyThunder SMS API (DTAC Corporate Gateway)
SMS_API_URL=https://sms-api.cl1.easythunder.com
SMS_API_USERNAME=
SMS_API_PASSWORD=

# EasySlip API (Payment Slip Verification)
EASYSLIP_API_KEY=
EASYSLIP_API_URL=https://developer.easyslip.com/api/v1
